/* .container-wrapper{

  margin: 0px auto;
  margin-top: 14%;
  border: 1px solid orange;
  height: 300px;
  width: 300px;
  border-radius: 5%;
  box-sizing:border-box;
  border-radius: 32px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  22px 22px 47px #7b7b7b,
               -22px -22px 47px #ffffff;

}
div{
  margin: 0px auto;
  margin-top: 20%;
  margin-left: 10%;
} */
