
.wrapper{
  margin: 10px;
  margin-top: -20;
  padding: 20px;
  border-radius: 5%;
  box-sizing:border-box;
  border-radius: 32px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  22px 22px 47px #7b7b7b,
               -22px -22px 47px #ffffff;
  width: 100%;
  height: 400px;

}

.card-title{
  margin-top: -30%;
}

.image-card {
    border: 1px solid ;
    margin-top: -25%;
    width: 250px;
    height: 200px;

}
li{
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}
button {
  margin: 10px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  color: rgb(238, 230, 230);
  background-color:rgb(50, 71, 189);

}
ul{
  border: 0px auto;

}
